/*Сбрасываем настройки по умолчанию*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
li {
  margin: 0;
}

ul[class] {
  padding: 0;
  list-style: none;
}

a {
    text-decoration: none;
}

/********Задаем шрифт для документа********/
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #23345C;
    border-radius: 5px;
}

/******Header******/
.header-container {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin-bottom: 5px;
}

/**Навигация**/
.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 15px;
}

.nav-link {
    font-size: 16px;
    color: #ffffff;
    transition: 0.5s;
}

.nav-link:hover {
    color: #F1BA48;
 }

/******Main******/
.main-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-column {
    width: 45%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.profile-title {
    margin-bottom: 7px;
    font-size: 30px;
    font-weight: 400;
}

.profile-subtitle {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

.profile-avatar {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 160px;
    border: 3px solid #F1BA48;
    border-radius: 100%;
    overflow: hidden;
}

.avatar {
    width: 197px;
    height: 160px;
}

.section-title {
    width: 90%;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 0px 30px 30px 0px;
}

.section-text {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 23px;
    color: #ffffff;
}

.contacts-item {
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 40px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: 15px;
}

.contacts-item:nth-child(1) {
    background-image: url("assets/svg/home.svg");
}

.contacts-item:nth-child(2) {
    background-image: url("assets/svg/phone.svg");
}

.contacts-item:nth-child(3) {
    background-image: url("assets/svg/email.svg");
}

.contacts-item:nth-child(4) {
    background-image: url("assets/svg/discord.svg");
}

.contacts-link {
    padding-left: 7px;
    color: #ffffff;
    transition: 0.5s;
}

.contacts-link:hover {
    color: #F1BA48;
}

.skills-item {
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #ffffff;
}

.skills-progress {
    width: calc(100% - 15px);
    height: 12px;
    border: 2px solid #F1BA48;
}

.html,
.css {
   background: linear-gradient(to right, #F1BA48 0%, #F1BA48 80%, transparent 80%,  transparent 100% );
}

.sass {
    background: linear-gradient(to right, #F1BA48 0%, #F1BA48 10%, transparent 10%,  transparent 100% );
}

.javascript,
.git {
    background: linear-gradient(to right, #F1BA48 0%, #F1BA48 40%, transparent 40%,  transparent 100% );
}

.figma {
    background: linear-gradient(to right, #F1BA48 0%, #F1BA48 70%, transparent 70%,  transparent 100% );
}

.right-column {
    width: 54%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 3px;
}

.section {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.education-title,
.code-title,
.projects-title {
    align-self: flex-end;
    color: #ffffff;
    background-color: #d53c3c;
    border-radius: 30px 0px 0px 30px;
}

.courses-section>ul.education-list {
    margin-left: 25px;
}

.education-item {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 25px;
}

.left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
}

.years-education {
    align-self: flex-start;
}

.years-education,
.city {
    font-size: 17px;
}

.right-col {
    width: 70%;
}

.speciality {
    font-weight: 700;
}

.university {
    font-size: 17px;
}

.courses-section {
    display: flex;
    flex-direction: column;
} 

.courses-section,
.code-section,
.english-section,
.projects-section {
    padding-left: 0;
}

.courses-title,
.english-title {
    color: #ffffff;
    background-color: #F1BA48;
}

.certificat {
    align-self: center;
    width: 80%;
    transition: 0.5s;
}

.certificat:hover {
    box-shadow: 8px 0 15px #d53c3c, -8px 0 15px #F1BA48;
    cursor: pointer;
    transform: scale(2);
}

.snippet {
    margin: 0;
    padding-left: 25px;
    font-size: 13px;
}

.english-title {
    margin-top: 0;
}

.english-section>p {
    margin-left: 25px;
}

.projects-item {
    margin-top: 5px;
    padding-left: 25px;
}

.projects-link {
    line-height: 25px;
    color: #000000;
    transition: 0.5s;
}

.projects-link:hover {
    color: #d53c3c;
}

/******Footer******/
.footer {
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
}

.github-link {
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.5s;
}

.github-link:hover {
    color: #F1BA48;
}

.rss-link {
    display: block;
    width: 100px;
    height: 40px;
    background-image: url('assets/svg/rss.svg');
    background-repeat: no-repeat;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(182deg) brightness(104%) contrast(102%);
    transition: 0.5s;
}

.rss-link:hover {
    filter: invert(79%) sepia(14%) saturate(2226%) hue-rotate(340deg) brightness(107%) contrast(89%);
}