/*Сбрасываем настройки по умолчанию*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
li {
  margin: 0;
}

ul[class] {
  padding: 0;
  list-style: none;
}

a {
    text-decoration: none;
}

/********Задаем шрифт для документа********/
body {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.05em;
    font-weight: 300;
    color: #676767;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


/********Шапка CV********/

/********Навигация по CV********/
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.1em;
    color: #000000; 
  }

.nav-link:hover {
    color: #676767;
}


/********Основная часть********/
.main {
    border: 5px rgb(128, 0, 21) solid;
}

/********Подвал********/
.footer {
    border: 5px green solid;
}